/** Root Elements CSS **/
:root{
    --main-bg-color: #61122f;
    --main-text-color: #212529;
    --second-text-color: #fff;
    --third-text-color:#557c3e;
    --fourth-text-color: #61122f;
    --hover-anchor-color: #E7E7E7;
    --header-bg-color: #f6b319;
    --main-font-family: 'Oxygen', sans-serif;
    --second-font-family: 'Lora', serif;
}
/** Main Doc Elements CSS **/
body
{
    font-size: 16px;
    font-family: var(--main-font-family);
    color: var(--second-text-color);
    background: var(--main-bg-color);
}
/** Headings **/
h1{
    font-size: 2em;
}
/********************************************/
/** Header **/
#header-nav {
    background: var(--header-bg-color);
    height: 170px;
}
#header-nav .navbar-header{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
}
#header-nav #logo-img{
    background: url(../../content/images/restaurant-logo_large.png) no-repeat;
    width: 150px;
    height: 150px;
}
#header-nav .navbar-brand a{
    text-decoration: none;
}
#header-nav .navbar-brand a > h1{
    font-family: var(--second-font-family);
    color: #557c3e;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 15px;
    line-height: .75;
}
#header-nav .navbar-brand p > span{
    color: var(--main-text-color);
    text-transform: uppercase;
    font-size: 0.6em;
}
/** Header Menu **/
#header-nav #navList #homeLink{
    display: none;
}
#header-nav #navList{
    justify-content: end;
    position: relative;
    top: -30px;
}
#header-nav #navList .navbar-nav .nav-item,#header-nav #navList .navbar-nav .nav-item a{
    text-align: center;
    color: #951C49;
    line-height: 20px;
    padding: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
#header-nav #navList .navbar-nav .nav-item:hover{
    background: var(--hover-anchor-color);
}
#header-nav #navList .navbar-nav .nav-item svg{
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}
#header-nav #telephone{
    font-size: 30px;
    margin-top: -5px;
}
#header-nav #navList #telephone:hover{
    background: var(--header-bg-color);
}
#header-nav #navList #telephone .nav-link{
    padding: 15px 11px 8px 11px;
    margin-right: -12px;
}
#header-nav #navList #telephone .nav-link:hover{
    background: var(--hover-anchor-color);
    padding: 15px 11px 8px 11px;
    margin-right: -12px;
}
#header-nav #telephone .phone_subheading{
    font-size: .5em;
    color: var(--third-text-color);
    text-align: right;
}
.navbar-light .navbar-toggler{
    color: var(--fourth-text-color);
    border-color:  var(--fourth-text-color);
}
#header-nav .navbar-header .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28097, 18, 47, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
#header-nav .navbar-header #navbarToggle:hover{
    background: var(--hover-anchor-color);
}
/** Homepage **/
#call-btn{
    padding: 20px;
    flex-direction: column;
    text-align: center;
}
#call-btn a{
    width: 100%;
    text-align: center;
    padding: 10px;
    background: var(--header-bg-color);
    font-size: 1.5em;
    color: #951c49;
    border: 2px solid white;
    border-radius: 4px;
}
#call-btn svg{
    width: 30px;
    height: 30px;
    margin-top: -5px;
}
#call-btn span{
    margin-top: 5px;
    color: #fff;
    font-size:.8em;
}

/** Slider **/
.home-slider .container{
    padding:0;
    max-width: 95%;
}
.home-slider img{
    border-radius: 2px;
    box-shadow: 0 0 50px #3f0c1f;
    border: 5px solid #3F0C1F;
    height: auto;
}
/** Homepage Cards **/
.card-group{
    padding: 0;
    margin: 0 auto;
}
.card-group .row{
    padding: 0;
    margin: 0 auto;
}
.card-group .card {
    box-shadow: 0 0 50px #3f0c1f;
    background-color: #00000087;
    margin: 18px;
    border: 2px solid #3F0C1F;
    padding: 0;
    overflow: hidden;
}
.card-group .card:hover{
    box-shadow: 0 0 10px #fff;
    cursor: pointer;
    transition: box-shadow 3ms;
}
.card-group .card .card-body{
    position: relative;
    top:10px;
    padding: 0;
}
.card-group .card .card-title {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: .8;
}
/** Footer **/
footer{
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #222;
    border-top: 0;
}
footer .widget-content ul{
    list-style: none;
    padding-left: 0;
}
footer blockquote{
    color: var(--third-text-color);
    font-style: italic;
    font-size: 1em;
}
footer .widget-title{
    font-size: 1.3em;
}
footer .widget-content span{
    color: var(--third-text-color);
    font-size: 0.75em;
}

footer .copyright{
    text-align: center;
    margin:10px auto 0 auto;
}

/***************** Media Queries CSS ******************/

/***************** Large Devices Only *****************/
@media (min-width: 1200px){
    .container{
        max-width: 1170px;
    }
    .home-slider .container{
        max-width: 1170px;
        background: url(../../content/images/jumbotron_1200.jpg) no-repeat;
        background-size: cover;
        height: 675px;
        box-shadow: 0 0 50px #3f0c1f;
        border: 2px solid #3F0C1F;
        border-radius: 5px;
    }
    .card-group .card {
        width: 350px;
    }
}

/***************** Medium Devices Only *****************/
@media (min-width: 992px) and (max-width: 1199px){
    .home-slider .container{
        max-width: 977px;
        background: url(../../content/images/jumbotron_1200.jpg) no-repeat;
        background-size: cover;
        height: 558px;
        box-shadow: 0 0 50px #3f0c1f;
        border: 2px solid #3F0C1F;
        border-radius: 5px;
    }
    #header-nav .container {
        max-width: 977px;
    }
    #header-nav {
        height: 110px;
    }
    #header-nav .navbar-header{
        align-items: center;
    }
    #header-nav #logo-img{
        width: 100px;
        height: 100px;
        background: url(../../content/images/restaurant-logo_medium.png) no-repeat;
    }
    .navbar-brand {
        font-size: 1.3rem;
        margin-left: -8px;
    }
    #header-nav #navList {
        top: -5px;
        justify-content: start;
    }
    #header-nav #telephone {
        font-size: 1.7rem;
    }
    #header-nav #navList #telephone .nav-link {
        padding: 15px 5px 0 5px;
        margin-right: -5px;
        margin-bottom: 5px;
    }
    #header-nav #navList #telephone .nav-link:hover{
        padding: 15px 5px 0 5px;
        margin-right: -5px;
        margin-bottom: 5px;
    }
    .card-group{
        max-width: 1090px;
    }
    .card-group .card {
        margin: 12px;
    }
    .card-group .card {
        width: 300px;
    }
}

/***************** Small Devices Only *****************/
@media (min-width: 657px) and (max-width: 991px) {
    #header-nav {
        height: 92px;
    }
    #header-nav #navList{
        background: var(--header-bg-color);
        border-top: 1px solid var(--second-text-color);
        top: 4px;
        margin: 0 -20px;
        height: 187px;
    }
    #header-nav .navbar-brand a > h1 {
        font-size: 5vw;
        margin-bottom: 0;
        margin-top: 10px;
    }
    #header-nav .navbar-brand p > span {
        font-size: 0.5em;
    }
    #header-nav .navbar-brand p > img{
        width: 20px;
    }
    #header-nav .navbar-header {
        align-items: center;
        justify-content: space-between;
        height: 80px;
        width: 100%;
    }
    #header-nav .container {
        padding: 0 20px;
        margin: 0;
        height: 80px;
        max-width: 100%;
    }
    #header-nav #navList #homeLink{
        display: flex;
    }
    #header-nav #navList .navbar-nav .nav-item a{
        padding: 3px 0;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    #header-nav #navList .navbar-nav .nav-item {
        font-size: 1.2em;
        padding: 2px;
    }
    #header-nav .navbar-nav{
        padding-top: 10px;
    }
    #header-nav #navList .navbar-nav .nav-item svg{
        width: 23px;
        height: 23px;
        cursor: pointer;
        position: relative;
        left: -10px;
        top: 5px;
    }
    .card-group {
        max-width: 875px;
    }
    .card-group .card{
        margin: 16px;
    }
    .card-group .card:nth-child(1),.card-group .card:nth-child(2) {
        width: 45%;
    }
    .card-group .card:nth-child(3) {
        width: 96%;
    }
}

/***************** Extra Small Devices Only *****************/
@media (max-width: 656px){
    .card-group .card:nth-child(1),.card-group .card:nth-child(2) {
        width: 95%;
    }
}